@using EvrakYonetimSistemi.Models
@model List<User>

<br />
<table class="table table-bordered">
    <tr style="background-color: black; color: white">
        
        <th>Kullanıcı Adı</th>
        <th>Email</th>
        <th> SİL</th>
        
    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.FirstName @x.LastName</td>
            <td>@x.Email</td>
            <td><a href="@Url.Action("Sil",new{Id=x.Id})"class="btn btn-link" style="color: #2c87f0">Sil</a></td>
                
        </tr>
    }
</table>
<a href="@Url.Action("Ekle")" class="btn btn-default">Yeni Kullanici</a>